.awesome-inner {
    padding: 100px 0;
}

.awesome-top {
    text-align: center;
}

.awesome-h5 {
    font-size: 36px;
    font-family: "Raleway";
    line-height: 43px;
    color: $darkgray;
}

.awesome-divider {
    border-top: 2px solid $orange;
    width: 64px;
    display: block;
    margin: 22px auto 0;
    margin-top: 22px;
}

.awesome-p {
    font-size: 14px;
    line-height: 20px;
    color: $textgray;
    margin-top: 26px;
}

.awesome-bottom {
    font-size: 0;
    margin-top: 76px;
}

.awesome-bottom-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 33.33%;
    padding: 0 15px;
}

.awesome-icon {
    display: block;
    margin: 0 auto;
}

.awesome-icon-link {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 70px;
    width: 70px;
    border: 1px solid $orange;
    border-radius: 50%;
}

.icon-icon-lightbulb, .icon-icon-keyboard, .icon-icon-flash {
    display: inline-block;
    font-size: 32px;
    color: $orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.awesome-info {
    text-align: center;
    margin-top: 28px;
}

.awesome-info-h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: $darkgray;
}

.awesome-info-p {
    font-size: 14px;
    line-height: 20px;
    color: $textgray;
    margin-top: 22px;
}

@include breakpoint(phone) {
    .awesome-bottom-item {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }
}