.awesome-inner {
    padding: 101px 0 96px 0;
}

.awesome-top {
    text-align: center;
}

.awesome-h5 {
    font-size: 36px;
    font-family: "Raleway";
    line-height: 43px;
    color: $darkgray;
}

.awesome-divider {
    border-top: 2px solid $orange;
    width: 64px;
    display: block;
    margin: 22px auto 0;
    margin-top: 22px;
}

.awesome-p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: $textgray;
    margin-top: 26px;
}

.awesome-bottom {
    font-size: 0;
    margin-top: 70px;
}

.awesome-bottom-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 33%;
}

.awesome-icon {
    display: block;
    margin: 0 auto;
}

.icon-icon-lightbulb, .icon-icon-keyboard, .icon-icon-flash {
    display: block;
    margin: 0 auto;
    font-size: 32px;
    color: $orange;
    border-radius: 50%;
    border: 2px solid $orange;
    width: 70px;
    height: 70px;
    padding: 13px 15px;
}

.awesome-info {
    text-align: center;
    margin-top: 35px;
}

.awesome-info-h6 {
    font-size: 23px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    color: $darkgray;
}

.awesome-info-p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: $textgray;
    margin-top: 22px;
}

@include breakpoint(phone) {
    .awesome-bottom-item {
        width: 100%;
        margin-bottom: 30px;
    }
}