.banner-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.banner-container {
    @extend %clearfix;
    padding-top: 110px;
    padding-bottom: 139px;
}

.banner-left {
    float: left;
    width: 60%;
    padding-left: 25px;
    padding-right: 145px;
}

.banner-right {
    float: right;
    width: 40%;
}

.banner-left-top-link {
    display: inline-block;
    &:hover {
        opacity: 0.7;
    }
}

.banner-left-h1 {
    font-size: 36px;
    font-family: "Raleway";
    text-transform: capitalize;
    line-height: 42px;
    color: $white;
    margin-top: 24px;
}

.divider {
    border-top: 2px solid $white;
    width: 65px;
    margin-top: 33px;
}

.banner-left-p {
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 300;
    line-height: 23px;
    color: $white;
    margin-top: 35px;
}

.banner-left-btn {
    margin-top: 42px;
}

.left-btn-link {
    display: inline-block;
    font-size: 15px;
    font-family: "Raleway";
    text-decoration: none;
    color: $white;
    padding: 12px 31px;
    border: 1px solid $white;
    background-color: transparent;
    &:hover {
        background-color: $orange;
        border: 1px solid $orange;
    }
}

// RIGHT

.banner-right-inner {
    padding: 29px 23px 0px 76px;
    border-radius: 3px;
}

.banner-right-first {
    background-color: $gray;
    text-align: center;
    padding: 18px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.first-h2 {
    font-size: 20px;
    font-weight: 700;
    color: $darkgray;
}

.first-span {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: $orange;
}

.banner-right-input {
    background-color: $white;
    padding: 13px 35px 52px;
    :last-child {
        margin-bottom: 0;
        padding-top: 18px;
    }
}

.banner-input-item {
    display: block;
    width: 100%;
    font-size: 14px;
    color: $inputtxt;
    padding: 4px 0px 5px 17px;
    margin-bottom: 40px;
    border:none;
    filter: drop-shadow(0px 1px 0px rgba(0,0,1,0.16));
}

.banner-right-btn {
    background-color: $orange;
    text-align: center;
}

.right-btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans";
    color: $white;
    background-color: $orange;
    border: none;
    width: 100%;
    height: 100%;
    padding: 18px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    &:hover {
        background-color: $darkgray;
        color: $orange;
    }
}

@include breakpoint(tablet) {
    .banner-left {
        width: 50%;
        padding-right: 0;
        padding-left: 0;
    }
    .banner-right {
        width: 50%;
    }
    .banner-right-inner {
        padding: 29px 0px 0px 25px;
    }
}

@include breakpoint(phone) {
    .banner-container {
        padding-bottom: 80px;
    }
    .banner-left {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .banner-right {
        width: 100%;
    }
    .banner-right-inner {
        padding: 29px 0px 0px 0px;
    }
    .banner-right-input {
        padding: 13px 13px 40px;
    }
    
}







