.customers-inner {
    padding: 101px 0;
}

.customers-top {
    text-align: center;
    margin-bottom: 56px;
}

.customers-h5 {
    font-size: 36px;
    font-family: "Raleway";
    line-height: 43px;
    color: $darkgray;
}

.customers-divider {
    border-top: 2px solid $orange;
    width: 64px;
    display: block;
    margin: 22px auto 0;
    margin-top: 22px;
}

.customers-p {
    font-size: 14px;
    line-height: 20px;
    color: $textgray;
    margin-top: 26px;
}

.customers-bottom {
    font-size: 0;
    padding: 0 46px;
}

.customers-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
}

.customers1 {
    padding-right: 80px;
}

.customers2 {
    padding: 0 40px;
}

.customers3 {
    padding-left: 80px;
}

.cloud-bgd {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 143px;
}

.cloud-bgd-p {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: $textgray;
    padding: 20px 13px 32px 11px;
}

.customer-info {
    @extend %clearfix;
    margin-top: 8px;
}

.customer-img {
    float: left;
    width: 26%;
}

.avatar-info {
    float: right;
    width: 74%;
    padding: 15px 0 0 17px;
}

.customer-h6 {
    font-size: 20px;
    font-weight: 700;
    color: $darkgray;
}

.customer-span {
    display: block;
    font-size: 14px;
    color: $textgray;
    margin-top: 8px;
}

@include breakpoint(tablet) {
    .customers-bottom {
        padding: 0 0;
    }
    .customers-item {
        padding: 0 5px;
    }
}

@include breakpoint(phone) {
    .customers-bottom {
        padding: 0 0;
        :last-child {
            margin-bottom: 0;
        }
    }
    .customers-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .customers1 {
        padding-right: 0;
    }
    
    .customers2 {
        padding: 0;
    }
    
    .customers3 {
        padding-left: 0;
    }
}

