.tabs {
    background-color: $gray;
}

.tabs-inner {
    @extend %clearfix;
    padding: 119px 0 116px 0;
}

.tabs-container {
    float: left;
    width: 15%;
    @extend %clearfix;
    padding: 24px 0 0 17px;
}

.tabs-content {
    float: right;
    width: 85%;
    padding: 33px 0 0px 56px;
}

.tabs-bar {
    :first-child {
        background-color: $orange;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    :last-child {
        margin-bottom: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.tabs-btn {
    display: inline-block;
    background-color: $darkgray;
    color: $white;
    font-size: 15px;
    line-height: 20px;
    padding: 44px 32px;
    border-color: transparent;
    border-bottom: 1px solid $white;
    &:hover {
        background-color: $orange;
        border-color: $darkgray;
    }
}

.tabs-content-item {
    @extend %clearfix;
}

.tabs-content-item-top {
    float: left;
    width: 62%;
}

.tabs-img {
    float: right;
    width: 38%;
    padding: 12px 18px 0 0;
}

.tabs-img-city {
    width: 100%;
}

.tabs-item-h4 {
    font-size: 20px;
    font-weight: 700;
    color: $darkgray;
}

.tabs-item-p1, .tabs-item-p2 {
    font-size: 14px;
    line-height: 20px;
    color: $textgray;
}

.tabs-item-p1 {
    padding: 49px 62px 0 0;
}

.tabs-item-p2 {
    padding: 19px 62px 0 0;
}

.tabs-item-btn {
    padding-top: 48px;
}

.tabs-btn-link {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    color: $white;
    background-color: $orange;
    padding: 12px 23px;
    &:hover {
        background-color: transparent;
        color: $orange;
        border: 1px solid $orange;
    }
}

@include breakpoint(tablet) {
    .tabs-content-item-top {
        width: 60%;
    }
    .tabs-img {
        width: 40%;
        padding: 80px 0;
    }
}

@include breakpoint(phone) {
    .tabs-inner {
        padding: 80px 0;
    }
    .tabs-container {
        width: 100%;
        padding: 0;
    }
    .tabs-bar {
        font-size: 0;
    }
    .tabs-btn {
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        padding: 25px 25px;
    }
    .tabs-content {
        width: 100%;
        padding: 0;
    }
    .tabs-content-item-top {
        width: 100%;
    }
    .tabs-item-h4 {
        text-align: center;
        padding-top: 30px;
    }
    .tabs-item-p1 {
        padding: 30px 0 0 0;
        text-align: center;
    }
    .tabs-item-p2 {
        text-align: center;
        padding: 20px 0 0 0;
    }
    .tabs-btn-link {
        display: block;
        margin: 0 auto;
        width: 120px;
    }
    .tabs-img {
        width: 100%;
        padding: 40px 0 0 0;
    }
}

