@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-Light.woff2') format('woff2'),
        url('/src/fonts/OpenSans-Light.woff') format('woff'),
        url('/src/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('/src/fonts/OpenSans-LightItalic.woff') format('woff'),
        url('/src/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/src/fonts/OpenSans-Regular.woff') format('woff'),
        url('/src/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('/src/fonts/OpenSans-Italic.woff') format('woff'),
        url('/src/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('/src/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('/src/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('/src/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('/src/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/src/fonts/OpenSans-Bold.woff') format('woff'),
        url('/src/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('/src/fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('/src/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('/src/fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('/src/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/src/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('/src/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

// RALEWAY

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Bold.woff2') format('woff2'),
        url('/src/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Black.woff2') format('woff2'),
        url('/src/fonts/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('/src/fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('/src/fonts/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Italic.woff2') format('woff2'),
        url('/src/fonts/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Light.woff2') format('woff2'),
        url('/src/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('/src/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/src/fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('/src/fonts/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}